﻿@page "/"


@using WebApp.Data;


<MatHeadline6>
    Motion Detection Events
</MatHeadline6>

<style>
    .mat-card {
        max-width: 400px;
    }

    .mat-card-content {
        padding: 1rem;
    }

    .mat-card-clean-margin {
        margin: 0px;
    }
</style>

<div id="scrollbox">
    <div class="mat-layout-grid">
        <div class="mat-layout-grid-inner">
            @foreach (MotionDetection detection in Repository)
            {
                var link = "/api/" + detection.Details.Img;

                <div class="mat-layout-grid-cell">
                    <MatCard class="mat-card">
                        <MatCardContent>
                            <MatCardMedia Wide="true" ImageUrl="@link"></MatCardMedia>
                            <div class="mat-card-content">
                                <MatHeadline6 class="mat-card-clean-margin">
                                    Group: @detection.Group
                                </MatHeadline6>
                                <MatSubtitle2 class="mat-card-clean-margin">
                                    Monitor: @detection.MonitorId
                                </MatSubtitle2>
                            </div>
                            <MatBody2 class="mat-card-content mat-card-clean-margin">
                                Time Received UTC: @detection.TimeReceivedUTC
                            </MatBody2>
                        </MatCardContent>
                    </MatCard>            
                </div>
            }
        </div>
    </div>
    <hr />
</div>
