﻿@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="https://gitlab.com/dcs3spp/blazormotiondetectionlistener/-/blob/master/README.md" target="_blank">About</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
